
/* 🟩 Bouton COMMANDER */
.order-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  text-align: center;
  padding: 15px;
}

.order-button button {
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 100%;
}