.background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-img);
}
.cta-section h1{
  color: #fff3e0;
  font-size: clamp(12px, 8vw, 100px);
  text-shadow: 2px 2px 4px black;
  margin-bottom: 50%;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: clamp(12px, 3vw, 30px);
  text-align: center;
  /* padding: 20px; */
  /* border-radius: 70px; */
}

.choices {
  margin-bottom: 0; 
}


.bottom{
  display:flex;
  margin: 0 auto 20px auto;  
  background-color: #b9922f;
  border-radius: 50%;
  width: clamp(60px, 70vw, 220px);
  padding: 15px;
  }

.option {
  margin-bottom: 40%;
}

.bottom:hover {
  transform: scale(1.05);
}


