 <!-- AFFICHAGE DES PRODUITS DE LA CATÉGORIE SÉLECTIONNÉE -->
  @if (selectedCategory) { 
  <div class="products-container">
      <h2>{{ selectedCategory.title }}</h2>
    
      <div class="products">
        @for (recipe of selectedCategory.recipes; track recipe.uuid) {
          <div class="product-card">
            <h3>{{ recipe.title }}</h3>
            <img [src]="recipe.imageUrl" alt="{{ recipe.title }}">
            <p>{{ recipe.description }}</p>
            <p><strong>{{ recipe.price }} CHF</strong></p>
            <button (click)="addToCart(recipe)">Ajouter</button>
            <!-- <app-cart [selectedRecipe]="selectedRecipe"></app-cart> -->
          </div>
        }
      </div>
    </div>
  }
