<!--  Produits dans une grille -->
<div class="products-container">
  <h2>{{ selectedCategory?.title }}</h2>

  <div class="products">
      @for (recipe of selectedCategory?.recipes; track recipe.uuid) {
          <div class="product-card">
              <h3>{{ recipe.title }}</h3>
              <img [src]="recipe.imageUrl" alt="{{ recipe.title }}">
              <p>{{ recipe.description }}</p>
              <p><strong>{{ recipe.price }} CHF</strong></p>
              <button class="add-to-cart-btn" (click)="addToCart(recipe)">Ajouter</button>
          </div>
      }
  </div>
</div>
